body{
    margin:0;
    padding: 0;
}
 
/*Contenedopr principal*/
#container{
    display: grid;
    grid-template-columns: 1.80fr 0.2fr;
    grid-template-rows: auto;
    grid-template-areas: "ReportPreviewContainer   ReportOptionsContainer";
    position: fixed;
    font-family: "Quicksand", sans-serif; 
    font-optical-sizing: auto; 
    height: 97vh;
    width: 97vw; 
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 85px;
}
    


/*contenedores 2 padres----------------------------------------------*/
.ReportPreviewContainer{
    grid-area: ReportPreviewContainer;
    display: grid;
    height: 85vh ;
    width: 160vh;
    padding: 10px;
    box-shadow: 0px 0px 13px 8px rgba(0,0,0,0.1);
    margin-right: 12px ;
    border-radius: 12px;
    justify-content: center;

}

.ReportOptionsContainer{
    grid-area: ReportOptionsContainer;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.6fr;
    grid-template-areas: "titleReportOptionsContainer"
                        "ReportForm";
    width: 40vh;
    height: 85vh;
    box-shadow: 0px 0px 13px 8px rgba(0,0,0,0.1);
    border-radius: 12px;


}
/*-----------------------------------------------------------------------*/
/*div titulo option report-----------------------------------------------*/
.titleReportOptionsContainer{
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
padding-top: 15px;
height: 10%;
}

.OptionSubTitle{
    margin-top: 4px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: rgb(107, 107, 107);
}

/*imagen---------------------------------------------------------------*/
#BannerPal{
    width: 60vh;
}
/*------------------------------------------------------------------------*/

/*contenedor de banner --------------------------------------------------*/
.bannerPreview{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.bannerPreview .txtbaner{
    margin-top: 20px;
    font-size: 19px;
    color: rgb(83, 83, 83);
}

/*----------------------------------------------------------------------*/
.ReportForm{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
